body{
  --displayColor:  #171717;
  transition: background 200ms ease-in-out;
  background-color: #2b2b2b;
}

body.dark{
  background-color: #2b2b2b;
  .settings__switch-theme, .settings__moon-icon{
    color: #ffffff;
  }
}

body.light{
  background-color: #f4f4f4;
  .settings__switch-theme, .settings__sun-icon{
    color: #000000;
  }
}

body.gmk8008{
  --display: var(--displayColor);
  --primaryColor: #fe5487;
  --primaryColorActive: #c79e8d;
  --secondaryColor: #323c46;
  --secondaryColorAcrive: #242321;
  --generalColor: #95a0af;
  --generalColorActive: #c8c8c0;
  --primaryText: #000000;
  --secondaryText: #ffffff;
  --generalText: #000000;
}

body.botanical{
  --display: var(--displayColor);
  --primaryColor: #7b9c98;
  --primaryColorActive: #6c8a86;
  --secondaryColor: #f0f0f0;
  --secondaryColorActive: #dedede;
  --generalColor: #222222;
  --generalColorActive: #2f2f2f;
  --primaryText: #ffffff;
  --secondaryText: #000000;
  --generalText: #ffffff;
}

body.mizu{
  --display: var(--displayColor);
  --primaryColor: #b1cdde;
  --primaryColorActive: #c79e8d;
  --secondaryColor: #212934;
  --secondaryColorAcrive: #242321;
  --generalColor: #d6d5d3;
  --generalColorActive: #c8c8c0;
  --primaryText: #000000;
  --secondaryText: #ffffff;
  --generalText: #000000;
}

body.olivia{
  --display: var(--displayColor);
  --primaryColor: #d7aa97;
  --primaryColorActive: #c79e8d;
  --secondaryColor: #302f2d;
  --secondaryColorAcrive: #242321;
  --generalColor: #d4d4cc;
  --generalColorActive: #c8c8c0;
  --primaryText: #ffffff;
  --secondaryText: #c79e8d;
  --generalText: #000000;
}

body.metropolis{
  --display: var(--displayColor);
  --primaryColor: #44d4b5;
  --primaryColorActive: #c79e8d;
  --secondaryColor: #c34a2f;
  --secondaryColorAcrive: #242321;
  --generalColor: #273137;
  --generalColorActive: #c8c8c0;
  --primaryText: #000000;
  --secondaryText: #ffffff;
  --generalText: #ffffff;
}

body.redSamurai{
  --display: var(--displayColor);
  --primaryColor: #672f3c;
  --primaryColorActive: #c79e8d;
  --secondaryColor: #333438;
  --secondaryColorAcrive: #242321;
  --generalColor: #b1995d;
  --generalColorActive: #c8c8c0;
  --primaryText: #ffffff;
  --secondaryText: #ffffff;
  --generalText: #000000;
}

body.apple{

}

body.dark{

}

body.light{

}
