body{
  --displayColor:  #171717;
  transition: background 200ms ease-in-out;
  background-color: #2b2b2b;
}

body.dark{
  background-color: #2b2b2b;
  .settings__switch-theme, .settings__moon-icon{
    color: #ffffff;
  }
  .calc{
    box-shadow: -10px 5px 5px #232323;
  }
}

body.light{
  background-color: #f4f4f4;
  .settings__switch-theme, .settings__sun-icon{
    color: #000000;
  }
  .calc{
    box-shadow: -10px 5px 5px #c3c3c3;
  }
}

body.gmk8008{
  --display: var(--displayColor);
  --primaryColor: #fe5487;
  --primaryColorActive: #ff3672;
  --secondaryColor: #323c46;
  --secondaryColorActive: #252c33;
  --generalColor: #95a0af;
  --generalColorActive: #7b8490;
  --primaryText: #000000;
  --secondaryText: #ffffff;
  --generalText: #000000;
}

body.botanical{
  --display: var(--displayColor);
  --primaryColor: #7b9c98;
  --primaryColorActive: #6c8a86;
  --secondaryColor: #f0f0f0;
  --secondaryColorActive: #dedede;
  --generalColor: #222222;
  --generalColorActive: #2f2f2f;
  --primaryText: #ffffff;
  --secondaryText: #000000;
  --generalText: #ffffff;
}

body.laser{
  --display: var(--displayColor);
  --primaryColor: #f51e67;
  --primaryColorActive: #fb407f;
  --secondaryColor: #23194d;
  --secondaryColorActive: #3c2b82;
  --generalColor: #331881;
  --generalColorActive: #281362;
  --primaryText: #ffffff;
  --secondaryText: #ffffff;
  --generalText: #ffffff;
}

body.mizu{
  --display: var(--displayColor);
  --primaryColor: #b1cdde;
  --primaryColorActive: #89c3e7;
  --secondaryColor: #212934;
  --secondaryColorActive: #404c5d;
  --generalColor: #d6d5d3;
  --generalColorActive: #c6c6c5;
  --primaryText: #000000;
  --secondaryText: #ffffff;
  --generalText: #000000;
}

body.olivia{
  --display: var(--displayColor);
  --primaryColor: #d7aa97;
  --primaryColorActive: #c79e8d;
  --secondaryColor: #302f2d;
  --secondaryColorAcrive: #242321;
  --generalColor: #d4d4cc;
  --generalColorActive: #c8c8c0;
  --primaryText: #ffffff;
  --secondaryText: #c79e8d;
  --generalText: #000000;
}

body.metropolis{
  --display: var(--displayColor);
  --primaryColor: #44d4b5;
  --primaryColorActive: #3bb49a;
  --secondaryColor: #c34a2f;
  --secondaryColorActive: #e85f41;
  --generalColor: #273137;
  --generalColorActive: #394850;
  --primaryText: #000000;
  --secondaryText: #ffffff;
  --generalText: #ffffff;
}

body.redSamurai{
  --display: var(--displayColor);
  --primaryColor: #672f3c;
  --primaryColorActive: #49212b;
  --secondaryColor: #333438;
  --secondaryColorActive: #4b4d53;
  --generalColor: #b1995d;
  --generalColorActive: #907d4c;
  --primaryText: #ffffff;
  --secondaryText: #ffffff;
  --generalText: #000000;
}

body.apple{

}

body.dark{

}

body.light{

}
