body.botanical{
  --display: #171717;
  --primaryColor: #7b9c98;
  --primaryColorActive: #6c8a86;
  --secondaryColor: #f0f0f0;
  --secondaryColorActive: #dedede;
  --generalColor: #222222;
  --generalColorActive: #2f2f2f;
  --primaryText: #ffffff;
  --secondaryText: #000000;
  --generalText: #ffffff;
}

body.olivia{
  --display: #171717;
  --primaryColor: #d7aa97;
  --primaryColorActive: #c79e8d;
  --secondaryColor: #302f2d;
  --secondaryColorAcrive: #242321;
  --generalColor: #d4d4cc;
  --generalColorActive: #c8c8c0;
  --primaryText: #ffffff;
  --secondaryText: #c79e8d;
  --generalText: #000000;
}

body.apple{

}

body.dark{

}

body.light{

}
