@use 'sass:math';
$calc-height: 600px;
$calc-width: 400px;
$calc-radius: 10px;
$display-height: math.div($calc-height, 5);

.calc{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: $calc-height;
  width: $calc-width;
  background-color: gray;
  border-radius: $calc-radius;
}

.calc__display{
  display: flex;
  align-items: center;
  min-height: $display-height;
  width: calc(100% + 2px);
  background-color: black;
  border-radius: $calc-radius $calc-radius 0 0 ;
  padding: 1.5rem;
  .display__value{
    font-size: 23px;
    color: white;
    width: 100%;
    text-align: right;
  }
}

.calc__row1,
.calc__row2,
.calc__row3,
.calc__row4,
.calc__row5{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.calc__row5 input:first-child{
  border-radius: 0 0 0 $calc-radius;
}
.calc__row5 input:last-child{
  border-radius: 0 0 $calc-radius 0;
}

.calc__input{
  font-size: 28px;
  text-align: center;
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px black;
  height: math.div($calc-height - $display-height, 5);
  transition: all 100ms ease-in-out;
  &:active{
    background-color: green;
  }
  &--1{
    width: math.div($calc-width, 4);
  }
  &--2{
    width: math.div($calc-width, 4)*2;
  }
  &--general{
    color: white;
    background-color: #222222;
    &:active{
      background-color: #2f2f2f;
    }
  }
  &--primaryOp{
    color: white;
    background-color: #7b9c98;
    &:active{
      background-color: #6c8a86;
    }
  }
  &--secondaryOp{
    background-color: #f0f0f0;
    &:active{
      background-color: #dedede;
    }
  }
}
