.index__container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.menu__container{
  position: absolute;
  top: 0;
  right: 0;
  margin: 3rem 3rem 0 0;
}

.index__switch-theme{
  font-size: 26px;
}
